.taskCard{
    width: 100%;
    height:150px;
    border: solid 2px rgb(7, 158, 213);
    border-radius: 5px;
    position:relative;
    padding: 3px;
    box-shadow: 0 4px 18px 0 gray;
    margin-bottom: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 191, 236);
    z-index: 100;
}

.taskCard .header{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    padding: 1px;
}

.taskCard .header .header-desc{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.taskCard .header .header-actions{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    justify-content: right;
}

.taskCard .header .header-actions img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.taskCard .body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    padding: 5px;
}

.taskCard .body textarea{
    top: 0;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: large;
    font: bold;
}

.dropdown-menu{
  position: absolute;
  top: 34px;
  width: 250px;
  transform: translateX(2%);
  background-color: #4f005f;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  color: white;
  z-index: 100;
}

.dropdown-menu-item{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: 500ms;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.dropdown-menu-item .is-selected{
    flex-basis: 15%;
    margin-right: 3px;
}


.dropdown-menu-item .is-selected .img{
    height: 10px;
    width: 10px;
    color: white;
}

.dropdown-menu-item:hover{
    background-color: rgb(178, 110, 210);
}


/*
################
*/
.dropdown-menu-item-selected{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: 500ms;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor:default;
    pointer-events: none;
}

.dropdown-menu-item-selected .is-selected{
    flex-basis: 15%;
    margin-right: 3px;
}


.dropdown-menu-item-selected .is-selected .img{
    height: 10px;
    width: 10px;
    color: white;
}




